!!! 5
%html
	%head
		%meta{charset: 'utf-8'}/
		%meta{name:"viewport",content:"width=device-width,initial-scale=1.0"}
		%title= TITLE
		%script{src:"http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js",type:"text/javascript"}
		%script{src:"/taketori.js",type:"text/javascript"}
		%link{rel:'stylesheet',href:'http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'}
		%link{rel:'stylesheet',href:'/taketori.css'}
		%link{rel:"shortcut icon",href:"/favicon.ico",type:"image/x-icon"}
		%link{rel:"apple-touch-icon",href:"/apple-touch-icon.png"}
		%link{rel:"apple-touch-icon",sizes:"57x57",href:"/apple-touch-icon-57x57.png"}
		%link{rel:"apple-touch-icon",sizes:"72x72",href:"/apple-touch-icon-72x72.png"}
		%link{rel:"apple-touch-icon",sizes:"76x76",href:"/apple-touch-icon-76x76.png"}
		%link{rel:"apple-touch-icon",sizes:"114x114",href:"/apple-touch-icon-114x114.png"}
		%link{rel:"apple-touch-icon",sizes:"120x120",href:"/apple-touch-icon-120x120.png"}
		%link{rel:"apple-touch-icon",sizes:"144x144",href:"/apple-touch-icon-144x144.png"}
		%link{rel:"apple-touch-icon",sizes:"152x152",href:"/apple-touch-icon-152x152.png"}
		:css
			a, a:hover { color: red; text-decoration: none; }
	%body
		%div.container
			%h1
				%a{href:'/'}= TITLE
				%small
					- if request.path == '/'
						%button.btn.btn-default.pull-right{onclick:'window.location.href="/new"',style:'margin-left: 0.5em;'} 小説を書く
						%button.btn.btn-default.pull-right{onclick:'window.location.href="/travel"'} 痙攣的時間旅行
					- elsif request.path == '/travel'
						痙攣的時間旅行
					- elsif @story
						&nbsp;
						= @story.title
					- else
						新しい小説
			%hr
			!= yield
			%hr
			%p.pull-right 2014 &copy; R E L A Y R 製作委員会
